[Unit]
Description=logstash
After=network.target
[Service]
Type=forking
User=elk
Group=elk
ExecStart=/bin/sh /data/usr/local/logstash/start_logstash.sh
Restart=always
RestartSec=1
[Install]
WantedBy=multi-user.target
